<div class="container">
    <div class="row">
        <div class="col-lg-6">
        <div class="card">
            <div class="col-lg-12">
              <table>
                  <tr><td>EmployeeName </td><td>from date</td><td>to date</td></tr>
                  <tr > 
                   
                      <td>abc</td><td>10/01/2015</td><td>11/02/2015</td>
                  </tr>
              </table>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- *ngFor="list of leaveList" -->

<router-outlet></router-outlet>